.form-container {
    background: rgba(151, 168, 153, 0.9); /* Sfondo bianco semi-trasparente per il form */
    padding: 2em 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}